
:root.theme-dark {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE; 
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decoration-color: #000028;
  --button-color: #FF0070;
  --line-color:#FF0070;
  --main-title-color: #FF0070;
  --accent-color-rec: #FF0070;
  --accent-color-decor:#FF0070;
}