
.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font-family), "IBM Plex mono", sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  padding-bottom: 65px;
  min-height: 100vh;
}

.rec {
  position: absolute;
  display: flex;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  color: var(--accent-color-rec);
  line-height: 24px;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color-rec);
  background: var(--accent-color-rec);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: flex;
  justify-self: end;
  padding: 74px 10px 0
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  color: var(--button-color);
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color: 1px solid var(--decorated-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-color: 1px solid var(--decorated-color);
}

.page__title {
  display: flex;
  align-self: start;
  margin: 73px 10px 0;
  line-height: 0.8;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--title-color);
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.header__title {
  align-self: center;
  width: clamp(355px, 50%, 491px);
  line-height: var(--line-height);
}

.header__title-decoration {
  background-color: var(--accent-color);
  color: var(--decoration-color);
  justify-content: end;
  background-size: cover;
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color-decor);
  border-right: 1px solid var(--accent-color-decor);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color-decor);
  border-left: 1px solid var(--accent-color-decor);
  bottom: 10px;
  left: 10px;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: var(--line-height);
}

.main__section-list {
  display: grid;
  gap: 20px;
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text_link:hover {
  text-decoration: underline;
}

.text_link:focus {
  outline: 0;
}

.text_link:focus-visible {
  outline: 1px solid currentColor;
}

.article {
  display: grid;
  gap: 10px;
  line-height: var(--line-height);
}

.article p + p {
  margin-top: 10px;
}

.title {
  color: var(--main-title-color);
  line-height: var(--line-height);
  font-weight: 700;
  font-size: inherit;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decoration-color);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

.regular {
  font-weight: var(--regular-font-weigh);
}

.section__title-about {
  display: grid;
  gap: 10px;
}

.title-about {
  grid-column-start: 1;
  grid-column-end: 4;
}

.image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  position: relative;
  block-size: 100vh;
}

.page__title-end {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--title-color);
}

@media (width >= 768px) {
  .header {
    position: relative;
    padding-bottom: 183px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
  }

  .rec {
    top: 20px;
    right: 30px;
  }

  .header__theme-menu {
    padding: 192px 20px 0;
  }

  .page__title {
    margin: 175px 0 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    width: clamp(364px, 47.8vw, 491px);
    margin-right: 18px;
    align-self: end;
  }

  .header__text {
    gap: 165px;
  }

  .main {
    gap: 80px;
    padding: 60px 5px 0 36px;
    margin-bottom: 60px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__section-title {
    grid-column: 1;
  }

  .main__section-content {
    grid-column: 2;
  }

  .main__section-block-what {
    grid-column: 1 / 3;
  }

  .main__section-block-how {
    display: grid;
    column-gap: 10px;
  }

  .main__section-title-corretion {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section__title-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .image {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }

  .image__sunset {
    grid-area: sunset;
  }

  .image__ice-cream {
    grid-area: ice-cream;
  }

  .image__tape {
    grid-area: tape;
  }

  .image__books {
    grid-area: books;
  }

  .image__street {
    grid-area: street;
  }

  .footer {
    position: relative;
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    padding-bottom: 130px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding: 19px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .page__title {
    margin: 252px 0 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-right: 21px;
  }

  .header__text {
    gap: 117px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
  }

  .main {
    padding: 60px 19px;
    gap: 80px;
    margin-bottom: 0;
  }

  .section__title-why {
    gap: 13px;
  }
  
  .section__title-what {
    gap: 20px;
  }

  .main__section-block-what {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__title-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }
  
  .main__section-title-corretion {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .main__section-block-how {
    display: grid;
    gap: 20px;
  }

  .section__title-about {
    gap: 19px;
  }
  
  .footer {
    position: relative;
    min-height: 768px;
  }

  .page__title-end {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
